# Package File#
*.jar
*.war
*.ear
*/db

#########
#Eclipse#
#########

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/
.loadpath
/src/main/resources/rebel.xml
resource/