#제외폴더
/target/
/.settings/
/bin/
/data/
/logs/

#제외파일
.classpath
.factorypath
.project

#추적허용
/src/main/resources/*
!/src/main/resources/mappers/apiData.xml
!/src/main/resources/mappers/guiLabels.xml
!/src/main/resources/application.properties